<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Us</title>

        <link rel="stylesheet" href="/css/aboutUs.css" type="text/css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    </head>

    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>


        <div class="content">
            <div class="container">


                <!-- About Us Title -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb20">
                        <h2>About Us</h2>
                    </div>
                </div>

                <!-- About Us Text -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-justify">
                        <h6>
                            Our goal is to give reliable health information and news for
                            people all over the world that can help them to have healthier life.
                            Working through an office that is based in Melbourne, Australia,
                            Quick Health staff work side by side with many health organisations
                            and also news companies to ensure the highest reliability health
                            information for all people.
                            <br><br>
                            Together we encourage people to be more health-aware.
                            We help people can travel safely around the world by
                            giving latest health news about particular location.
                            We ensure people can detect their disease at the earliest
                            stage, how to understand the symptoms for particular
                            disease and what cause them.
                        </h6>
                    </div>
                </div>

                <br>
                <br>
                <hr>
                <br>
                <br>


                <!-- Founder Text Row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
                        <h2>Founder</h2>
                    </div>
                </div>

                <!-- Image Row -->
                <div class="row">

                    <!-- Ilham Profile -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="team-block">
                            <div class="team-img">
                                <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_1.jpg" alt="">

                                <!-- Headings -->
                                <div class="team-content">
                                    <h4 class="text-white mb0 text-center text-center">Surviantoro Ilham Yudanardi</h4>
                                    <p class="team-meta text-center">Web Developer</p>
                                </div>

                                <!-- Details -->
                                <div class="overlay">
                                    <div class="text">
                                        <h4 class="mb0 text-white text-center">Surviantoro Ilham Yudanardi</h4>
                                        <p class="mb30 team-meta text-center">Web Developer</p>
                                        <p>Isi Sendiri mau lu apa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Gavin Profile -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="team-block">
                            <div class="team-img">
                                <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_2.jpg" alt="">

                                <!-- Headings -->
                                <div class="team-content">
                                    <h4 class="text-white mb0 text-center">Gavin Eka Cipta Wijaya</h4>
                                    <p class="team-meta text-center">Web Developer</p>
                                </div>

                                <!-- Details -->
                                <div class="overlay">
                                    <div class="text">
                                        <h4 class="mb0 text-white text-center">Gavin Eka Cipta Wijaya</h4>
                                        <p class="mb30 team-meta text-center">Web Developer</p>
                                        <p>Isi Sendiri mau lu apa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- William Profile -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="team-block">
                            <div class="team-img">
                                <img src="https://easetemplate.com/free-website-templates/motion/images/team_member_3.jpg" alt="" class="img-fluid">

                                <!-- Headings -->
                                <div class="team-content">
                                    <h4 class="text-white mb0 text-center">William Liandri</h4>
                                    <p class="team-meta text-center">Web Developer</p>
                                </div>

                                <!-- Detail -->
                                <div class="overlay">
                                    <div class="text">
                                        <h4 class="mb0 text-white text-center">William Liandri</h4>
                                        <p class="mb30 team-meta text-center">Web Developer</p>
                                        <p>Isi Sendiri mau lu apa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

















        <!-- Footer-->
        <div id="footer-placeholder">
            <% include footer.ejs %>
        </div>

    </body>

</html>
