<!DOCTYPE html>
<html lang="en">
<head>

    <title>Add Disease to Database</title>
    <link rel="stylesheet" href="css/adddisease.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>Add Disease to Database</h1>
    </br>
    <form method="post" action="/adddisease/submit">

        <!-- Disease Name -->
        <div class="disease-data">
            <label for="name">Enter Disease Name</label>
                <input id="name" type="text" name="name" placeholder="Enter Disease Name..." required>
        </div>

        <!-- Disease Biological Name -->
        <div class="disease-data">
            <label for="bioname">Enter Biological Name</label>
                <input id="bioname" type="text" name="bioname" placeholder="Enter Biological Name..." required>
        </div>

        <!-- Disease Short Fact -->
        <div class="disease-data">
            <label for="fact">Enter Disease Short Fact</label>
                <input id="fact" type="text" name="fact" placeholder="Enter Disease Short Fact..." required>
        </div>

        <!-- Disease Image -->
        <div class="disease-data">
            <label for="image">Enter Disease Image URL</label>
                <input id="image" type="text" name="image" placeholder="Enter Disease Image URL..." required>
        </div>

        <!-- Disease Treatable -->
        <div class="disease-data">
            <label for="treatable">Enter Disease Treatable</label>
                <input id="treatable" type="text" name="treatable" placeholder="Enter Disease Treatable..." required>
        </div>

        <!-- Disease Diagnosis -->
        <div class="disease-data">
            <label for="diagnosis">Enter Disease Diagnosis</label>
                <input id="diagnosist" type="text" name="diagnosis" placeholder="Enter Disease Diagnosis..." required>
        </div>

        <!-- Disease Lab Test -->
        <div class="disease-data">
            <label for="lab">Enter Disease Lab Test</label>
                <input id="lab" type="text" name="lab" placeholder="Enter Disease Lab Test..." required>
        </div>

        <!-- Disease Time -->
        <div class="disease-data">
            <label for="time">Enter Disease Time</label>
                <input id="time" type="text" name="time" placeholder="Enter Disease Time..." required>
        </div>

        <!-- Disease Causes -->
        <div class="disease-data">
            <label for="causes">Enter Disease Causes</label>
                <input id="causes" type="text" name="causes" placeholder="Enter Disease Causes..." required>
        </div>

        <!-- Disease Symptoms -->
        <div class="disease-data">
            <label for="symptoms">Enter Disease Symptoms</label>
                <input id="symptoms" type="text" name="symptoms" placeholder="Enter Disease Symptoms..." required>
        </div>

        <!-- Diseaes Treatment -->
        <div class="disease-data">
            <label for="treatment">Enter Disease Treatment</label>
                <input id="treatment" type="text" name="treatment" placeholder="Enter Disease Treatment..." required>
        </div>

        <!-- Disease History -->
        <div class="disease-data">
            <label for="history">Enter Disease History</label>
                <input id="history" type="text" name="history" placeholder="Enter Disease History..." required>
        </div>

        <!-- Submit -->
        <input type="submit" value="Add Data">
    </form>
</body>
</html>