<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <title>Add Health Fact to Database</title>
</head>

<header>
    <div id="nav-placeholder">
        <% include navbar.ejs %>
    </div>
</header>

<body>
    <h1>Add Health Fact to Database</h1>
    </br>
    <form method="post" action="/addhealthfact/submit">

      <div class="health-fact">
        <label for="fact">Enter Health Fact</label>
          <input id="fact" type="text" name="fact" placeholder="Enter Health Fact..." required>
      </div>

      <div class="health-fact">
        <label for="link">Enter Link Health Fact</label>
          <input id="link" type="text" name="link" placeholder="Enter Health Link..." required>
      </div>

      <!-- Submit -->
      <input type="submit" value="Add Data">
    </form>
</body>

<footer>
    <% include footer.ejs %>
</footer>
</html>