<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>db practice</title>
</head>
<body>
    <h1>Insert Data Test</h1>
        <form action="/registration_form/submit" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="causes">
            <input type="text" name="phone" placeholder="symptoms">
            <input type="text" name="password" placeholder="treatment">
            <input type="text" name="history" placeholder="history">
            <input type="submit">
        </form>
</body>
</html>