<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">


    <title>Title</title>
</head>
<body>
    <!--   FOOTER START-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-bg">
                    <h4 class="title">About us</h4>
                    <p>Quick Health... Be Quick, Be Healthy !</p>
                    <!--<ul class="social-icon">-->
                        <!--<a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                        <!--<a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                        <!--<a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
                        <!--<a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>-->
                    <!--</ul>-->
                </div>
            </div>
            <hr>
            <div class="row text-center" id="copyright">Copyright © Quick Health 2018</div>
        </div>
    </footer>


</body>
</html>