<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="banner-content">
            <div class="banner-left">
                <h1>Charities</h1>
                <p>Find the best people for the job from our network.</p>
                <a class="btn btn-primary btn-lg" >Post Project</a>
            </div>

            <div class="banner-right">
                <h1>Volunteers</h1>
                <p>Donate your time and skills to help those who need it most</p>
                <a class="btn btn-primary btn-lg" >Apply Now</a>
            </div>

        </div>
    </div>


    <p class="review-title"><b>Project Organizer Review</b></p>

    <div class="message">
        <img class="avatar-large" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt3fvxCKd1K1JsohKQcxFtQlZnypYtVQnbucjsMsVTJ3l65Wfb3A">
        <div class="message-name">
            <h3>ACYO Organization</h3>
            <p>08/03/18</p>
        </div>
        <div class="message-body">
            <p><strong>Africa Teaching Volunteer</strong></p>
            <p>
                This volunterr opportunity has changed my perspective upon seeing the world. I feel more grateful upon my existing life.
            </p>
        </div>
        <div class="message-status">
            <p class="status pending">Projects Accomplished</p>
            <p class="price">25</p>
        </div>
    </div>


    <div class="message">
        <img class="avatar-large" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/JVC_Name_RGB.jpg/1200px-JVC_Name_RGB.jpg">
        <div class="message-name">
            <h3>Jesuit Volunteer Corps</h3>
            <p>03/03/18</p>
        </div>
        <div class="message-body">
            <p><strong>Africa Teaching Volunteer</strong></p>
            <p>
                This volunterr opportunity has changed my perspective upon seeing the world. I feel more grateful upon my existing life.
            </p>
        </div>
        <div class="message-status">
            <p class="status pending">Projects Accomplished</p>
            <p class="price">16</p>
        </div>
    </div>


    <div class="message">
        <img class="avatar-large" src="https://pbs.twimg.com/profile_images/517012852222091264/iV2l9fN2_400x400.jpeg">
        <div class="message-name">
            <h3>Food Bank</h3>
            <p>14/12/17</p>
        </div>
        <div class="message-body">
            <p><strong>Africa Teaching Volunteer</strong></p>
            <p>
                This volunterr opportunity has changed my perspective upon seeing the world. I feel more grateful upon my existing life.
            </p>
        </div>
        <div class="message-status">
            <p class="status pending">Projects Accomplished</p>
            <p class="price">5</p>
        </div>
    </div>


    <p class="review-title"><b>Volunteer Review</b></p>

    <div class="message">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
            <h3>Gab Dehan</h3>
            <p>11/01/18</p>
        </div>
        <div class="message-body">
            <p><strong>Africa Teaching Volunteer</strong></p>
            <p>
                This volunterr opportunity has changed my perspective upon seeing the world. I feel more grateful upon my existing life.
            </p>
        </div>
        <div class="message-status">
            <p class="status pending">Karma Points</p>
            <p class="price">565</p>
        </div>
    </div>


    <div class="message">
        <img class="avatar-large" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Sigmundur_Dav%C3%AD%C3%B0_Gunnlaugsson_2016_%28cropped_resized%29.jpg/220px-Sigmundur_Dav%C3%AD%C3%B0_Gunnlaugsson_2016_%28cropped_resized%29.jpg">
        <div class="message-name">
            <h3>Antonio Kreyes</h3>
            <p>12/02/18</p>
        </div>
        <div class="message-body">
            <p><strong>Arkana Temple Renovation Project</strong></p>
            <p>
                This application has helped me to donate with a hint of simplicity and fun.
            </p>
        </div>
        <div class="message-status">
            <p class="status pending">Karma Points</p>
            <p class="price">412</p>
        </div>
    </div>
</body>

</html>
