<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Quick Health</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/homepage_revised.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body>


        <!--Navigation bar-->
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>





            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">Syria war: Why the battle for Aleppo matters</a></h2>
                                </div>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Politics</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">Key Republicans sign letter warning against</a></h2>
                                </div>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/business1.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Travel</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                                </div>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="">
                            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                                </div>
                                <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 top-slider">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics1.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large"><a href="#">Ray madison may struggle to get best from Paul in a 4-2-3-1 formation</a></h2>
                                        </div>
                                        <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                        <div class="time-text"><strong>2h ago</strong></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/sport1.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large"><a href="#">An Alternative Form of Mental Health Care Gains a Foothold</a></h2>
                                        </div>
                                        <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                        <div class="time-text"><strong>2h ago</strong></div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="news-block">
                                        <div class="news-media"><img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/health.jpg" alt=""></div>
                                        <div class="news-title">
                                            <h2 class=" title-large"><a href="#">Key Republican Senator Says She Will Not Vote for former president!</a></h2>
                                        </div>
                                        <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                        <div class="time-text"><strong>2h ago</strong></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h3 class="heading-large">Politics</h3>
                        <div class="">
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/war.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 card">
                                <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel1.jpg" alt="">
                                    <div class="card-body">
                                        <div class="news-title"><a href="#">
                                                <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                                            </a></div>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="col-lg-4 side-bar col-md-12">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Top</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Featured</a> </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content sidebar-tabing" id="nav-tabContent">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport2.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/lifestyle.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food1.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/movie.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/auto.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business1.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel">
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/food.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/business.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                                <div class="media"> <a href="#"> <img class="d-flex mr-3" src="http://grafreez.com/wp-content/temp_demos/river/img/sport1.jpg" alt="Generic placeholder image"></a>
                                    <div class="media-body">
                                        <div class="news-title">
                                            <h2 class="title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                                        </div>
                                        <div class="news-auther"><span class="time">1h ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="video-sec">
                            <h4 class="heading-small">Featured Video</h4>
                            <div class="video-block">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>




        <!-- Footer-->
        <div id="footer-placeholder">
            <% include footer.ejs %>
        </div>


    </body>

</html>
