<h1>Hello World!</h1>
<p>Please works</p>
</br>
<a href="users">List of Current Users</a><br/>

    <label for="userID">Pick which user you want to view (1-10)</label>
    <input id="userID" type="number" name="quantity" min="1" max="10" required>
    <br/>
    <button onclick="changePage()">Go</button>

<script>
    function changePage() {
        if (document.getElementById('userID').value > 0){
            window.location.href = '/users/' + (document.getElementById('userID').value - 1);
        }
        else (
            alert("Please choose which user to view")
        )
    }
</script>
