<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>you are not logged in now!</h1>
<button onclick="window.location.href = '/'">Go back to home</button>
</body>
</html>