<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <!--<link rel="icon" href="/resource/logo_bg.png" type="image/ico" />-->
    <!--<link rel="SHORTCUT ICON" href="favicon.ico" />-->
</head>

<body>

    <nav class="navbar navbar-light" id="main-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#menuDetails" aria-controls="menuDetails"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo -->
        <a class="navbar-brand" id="navbar-logo" href="/home">
            Quick
            <img src="/resource/logo_bg.png" width="55" height="55" class="d-inline-block align-top" alt="">
            Health
        </a>

        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>

        <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
            <li id="toggleText">
                <div class="row">
                    <div class="col-md-12">
                        <div id="login-text">
                            <h5>Login</h5>
                        </div>
                        <form class="form" role="form" method="POST" action="/profile" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                            </div>
                            <div class="form-group">
                                <!--<input type="submit">-->
                                <input type="submit" value="Sign In" class="btn btn-primary btn-block">
                            </div>
                        </form>
                    </div>
                    <div id="register-here">
                        <div class="bottom text-center">
                            New to us ? <a href="/registration_form"><b>Register Here</b></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>


        <div class="collapse navbar-collapse" id="menuDetails">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/profile">Profile</a>
                <a class="nav-item nav-link" href="/diseases">Disease Wiki</a>
                <a class="nav-item nav-link disabled" href="">Disease Map</a>
                <!--<a class="nav-item nav-link" href="/disease_map">Disease Map</a>-->
            </div>
        </div>

    </nav>



</body>
</html>