<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet" type="text/css">

</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand" href="#">
            Quick
            <img src="https://image.ibb.co/heVTHS/logo_bg.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Health
        </a>

        <button type="button" class="btn btn-outline-primary">Sign In</button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Disease Map</a>
                <a class="nav-item nav-link" href="#">Disease Wiki</a>
                <a class="nav-item nav-link disabled" href="#">About Us</a>
            </div>
        </div>

    </nav>


</body>
</html>