<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="row-above-md">
    <div class="col-lg-2" style="border: 10px solid black;">Heterozygous</div>
    <div class="col-lg-2" style="border: 5px solid red;">Teronicus</div>
    <div class="col-lg-8" style="border: 20px dashed blue;">Cucklo</div>
</div>


</body>

</html>