<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coming Soon!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="row" style="border: 20px solid green;">
    <div>Main Slider</div>
</div>
<div class="row" style="border: 10px dashed yellow;">
    <div class="col-lg-6" style="border: 10px solid red;">
        <div class="row" style="border:10px solid navy;">
            Previous News
        </div>
        <div class="row" style="border:5px solid brown";>
            Quick Fact
        </div>
    </div>
    <div class="col-lg-6" style="border: 10px solid purple;">
        Last 7 days hotties
    </div>
</div>
<div class="row" style="border: 10px solid gold;">
    <div class="col-lg-12">
        <div class="row" style="border: 10px solid cyan;">
            <div class="col-lg-12" style="border: 10px aquamarine;">
                Daily Activities, User Name, points
            </div>
        </div>
        <div class="row" style="border: 10px solid silver;">
            <div class="col-lg-6" style="border: 1px dashed maroon;">
                Daily Readings
            </div>
            <div class="col-lg-6" style="border: 1px dashed pink;">
                Daily quizes
            </div>
        </div>
    </div>
</div>



</body>

</html>