<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile Page</title>
        <link rel="stylesheet" href="/css/profilePage.css" type="text/css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <header>
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>
    </header>



    <body>

        <div class="banner">
            <div class="container">
                <div class="profile-pic">
                    <div class="avatar"></div>
                    <a href="#" class="button button-primary mt-20">Change</a>
                </div>
                <div class="bio">
                    <h1 class="heading-medium"><strong>First Name</strong></h1>
                    <h1 class="heading-medium"><strong>Last Name</strong></h1>
                    <h4 class="body-small">Member Since: (Joined Date)</h4>
                </div>
            </div>
        </div>






        <div class="container">
            <div class="col-md-6 col-xs-12">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <!--<div class="card card-top">-->
                        <!--<div class="card-header" role="tab" id="headingOne">-->
                            <!--<h5 class="mb-0">-->
                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                                    <!--Account Information-->
                                <!--</a>-->
                            <!--</h5>-->
                        <!--</div>-->

                        <!--<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                            <!--<div class="card-block">-->
                                <!---->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->



                    <div class="card card-top">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Personal Information
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">

                                <strong>Occupation:</strong>
                                <br>
                                Student
                                <br><br>

                                <strong>Lives In:</strong>
                                <br>
                                Sydney

                                <br><br>
                                <strong>Current Location:</strong>
                                <br>
                                (Detect Location)
                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Contact
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-block">

                                <strong>E-mail Address:</strong>
                                <br>
                                hehe@gmail.com

                                <br><br>

                                <strong>Mobile Phone:</strong>
                                <br>
                                614845292

                                <br><br>

                                <strong>Address:</strong>
                                <br>
                                No Street Esplanade
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>









    </body>


    <footer>
        <% include footer.ejs %>
    </footer>

</html>
