<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile Page</title>
        <link rel="stylesheet" href="/css/profilePage.css" type="text/css">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <script>
            var requestUrl = "http://ip-api.com/json";

            $.ajax({
                url: requestUrl,
                type: 'GET',
                success: function(json)
                {
                    //console.log("My country is: " + json.country);
                    $("#currLocation").append(json.country);
                },
                error: function(err)
                {
                    console.log("Failed to Detect Location, errcode = " + err);
                }
            });


        </script>

    </head>

    <header>
        <div id="nav-placeholder">
            <% include navbar.ejs %>
        </div>
    </header>



    <body>

        <div class="banner">
            <div class="container">
                <div class="profile-pic">
                    <div class="avatar"></div>
                    <a href="#" class="button button-primary mt-20">Change</a>
                </div>
                <div class="bio">
                    <h1 class="heading-medium"><strong><%=name%></strong></h1>

                </div>
            </div>
        </div>






        <div class="container">
            <div class="col-md-6 col-xs-12">
                <div id="accordion" role="tablist" aria-multiselectable="true">


                    <div class="card card-top">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Personal Information
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-block">

                                <strong>Display Name:</strong>
                                <br>
                                <%=name%>
                                <br><br>

                                <strong>E-mail Address:</strong>
                                <br>
                                <%=user.email%>
                                <br><br>

                                <strong>Country of Origin:</strong>
                                <br>
                                <%=user.country%>

                                <br><br>
                                <strong>Current Location:</strong>
                                <br>
                                <div id="currLocation"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>


    <footer>
        <% include footer.ejs %>
    </footer>

</html>
