<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/profile.css" />
    <script type="text/javascript" src="/profile.js"></script>
</head>

<header>
    <div id="nav-placeholder">
        <% include navbar.ejs %>
    </div>
</header>
<body>
    <form method="POST" action="/emailSubmit">
        <input type="text" name="email">
        <input type="submit">
    </form>

</body>

<footer>
    <% include footer.ejs %>
</footer>
</html>