#title {
    color: #666;
    margin-top: 30px;
    text-align: center;
}

#googleMap {
    width:75%;
    height: 400px;
    border: 5px solid #666;
}

#map-content {
    text-align: center;
}

#disease-selection {
	text-align: center;
}

#selection-text {
    color: #666;
    margin-top: 30px;
}

#options {
	width: 250px;
	height: 30px;
}

#map-container {
    text-align: center;
}