#title {
    color: #666;
    margin-top: 30px;
    text-align: center;
}

.search-bar {
    text-align: center;
}

.search-bar input {
    height: 30px;
    width: 50%;
}

#search-button {
    height: 30px;
    margin-bottom: 0;
}

#go-button {
    background-color:  #59B2E0;
    border-color:  #59B2E0;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#browse-disease {
    color: #666;
    text-align: center;
    margin-top: 20px;
}
#search-a-z {
    margin-top: 15px;
    text-align: center;
}

#A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L, #M, #N, #O, #P, #Q, #R, #S, #T, #U, 
#V, #W, #X, #Y, #Z , #all-diseases {
    background-color: #59B2E0;
    margin-bottom: 15px;
    text-align: center;
    margin-left: auto;
}

#first-alphabet-disease {
    margin-top: 10px;
    margin-left: 5%;
    color: #666;
}

#list-alpha-diseases {
    margin-left: 20%;
}

#list-alpha-disease {
    margin-left: 10%;
}

#disease {
    list-style-type: none;
}

#link-disease {
    color: #666;
}