

#carouselExampleIndicators {
    border: 10px solid #DFF0FD;
    margin: auto;
    width: 85%;
}

#diseaseRank {
    margin-bottom: 20px;
    padding-left: 50px;
}

#topDiseaseHeader {
    margin-bottom: 15px;
}

#latestNews {
    margin-bottom: 20px;
}

#news-video {
    margin-left: 5px;
}

#fact{
    width: 100%;
    height: inherit;
    border: 2px solid #5B5B5B;
    background-color: #DFF0FD;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#quiz{
    width: 100%;
    height: inherit;
    border: 2px solid #5B5B5B;
    background-color: #04D2FF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.factQuiz {
    padding-top: 25px;
    padding-bottom: 30px;
}

#videoFrame {
    border: 5px solid #5B5B5B;
    width: 100%;
}

#secondContent {
    color: #5B5B5B;
}

.container {
    margin-top: 75px;
}

li {
    list-style: none;
}

@media only screen and (max-width: 990px ) {
    #diseaseRank {
        margin-bottom: 20px;
        padding-left: 15px;
    }
}