#carouselExampleIndicators {
    border: 10px solid #DFF0FD;
    margin: auto;
    width: 85%;
}

#diseaseRank {
    padding-left: 50px !important;
    margin-bottom: 20px;
}

#topDiseaseHeader {
    margin-bottom: 15px;
}

#latestNews {
    margin-bottom: 20px;
}

#videoFrame {
    border: 5px solid #5B5B5B;
    width: 100%;
}

#secondContent {
    color: #5B5B5B;
    margin-top: 75px;
}