body{
    font-size: 2rem;
}

#navbar-logo {
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
    color: #666666;
}

#main-navbar {
    /*min-height: 90px;*/
    margin-bottom: 50px;
    font-size: 18px;
    background-color: #e3f2fd;
}


/*.dropdown-menu {*/
    /*position:absolute;*/
    /*background-color: white;*/
    /*right:0px;*/
    /*width: 50%;*/
/*}*/


/*.dropdown-menu {*/
    /*width:40%;*/
    /*margin-left: 25px;*/
/*}*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    /*background-color:rgba(255,255,255,.8);*/
    background-color: #DFF0FD;

}
#login-dp .help-block{
    font-size:14px;
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
    align-items: right;
}



#toggleText {
    color: #5B5B5B;
}

/* Social Button */
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
    /*background-color:#4FA9DC*/
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar-collapse.collapse{
    display:block!important;
    height:0px !important;
    padding-bottom:0;
    overflow:visible!important;
    visibility:hidden!important;
}
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        /* height: auto!important; */
        padding-bottom: 0;
        overflow: visible !important;
        /* visibility: visible!important; */
    }
}

.collapse.show {
    display: block;
    height: auto!important;
    visibility: visible!important;
}

.dropdown-menu.show {
    display: block!important;
}

.open>.dropdown-menu{display:none}

/*@media(max-width:768px){*/
    /*#login-dp{*/
        /*background-color: inherit;*/
        /*color: #fff;*/
    /*}*/
    /*#login-dp .bottom{*/
        /*background-color: inherit;*/
        /*border-top:0 none;*/
    /*}*/
/*}*/



