#title, #full-name {
    color: #666;
    text-align: center;
    margin-top: 15px;
}

#image-container {
    text-align: center;
}

#profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#container-personal-activities {
    margin-top: 70px;
    width: 100%;
    margin-bottom: 30px;
}

#personal-info {
    margin-top: 100px;
    text-align: center;
}

#profile-data {
    color: #666;
    text-align: center;
}

#topic-forum {
    color: #666;
    text-align: center;
}

#title-forum-actv {
    color: white;
    text-align: center;
    background: #5B5B5B;
    border-radius: 5px;
}


.forum-activities {
    padding-left: 50px;
}

#container-basic-allergies-info {
    margin-bottom: 30px;
} 

.basic-allergies-info {
    color: white;
    background: #5B5B5B;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
}

#contact-info-title {
    text-align: left;
    margin-left: 15px;
    color: #666;
    border-radius: 5px;
}

#mobile-phone {
    margin-top: 10px;
    margin-left: 15px;
    color: #666;
}

#address, #email {
    margin-top: 10px;
    margin-left: 15px;
    color: #666;
}

.list-allergies {
    color: #666;
}

@media only screen and (max-width: 768px) {
    .forum-activities {
        text-align: center;
    }

    .forum-activities li {
        list-style-type: none;
    }
}

@media only screen and (min-width: 768px) {
    .personal-info {
        text-align: center;
        padding-left: 12%;
    }
    
    .forum-activities {
        padding-left: 12%;
    }
}