
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Health Fact to Database</title>
</head>
<body>
    <h1>Add Health Fact to Database</h1>
    <p>Please works</p>
    </br>
    <form method="post" action="/addhealthfact">
      <label>Enter Health Fact<label><br>
      <input type="text" name="diseaseName" placeholder="Enter a health fact..." required>
      <input type="submit" value="Add Data">
    </form>
    
    <p><a href='/'>I want to add diseases</a></p>
</body>
</html>