
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Intro to Node and MongoDB</title>
</head>
<body>
    <h1>Intro to Node and MongoDB</h1>
    <p>Please works</p>
    </br>
    <form method="post" action="/adddisease">
      <label>Enter Your Name<label><br>
      <label for="diseaseName">Disease Name</label>
        <input id="diseaseName" type="text" name="diseaseName" placeholder="Enter disease name..." required>
      <label for="causes">Disease Caused By</label>
        <input id="causes" type="text" name="causes" placeholder="Enter causes..." required>
      <input type="submit" value="Add Data">
    </form> 
    
    <p><a href='/healthfact'>I want to add health fact</a></p>
</body>
</html>